# Secrets & credentials
.env
pass.txt

# SSL certificates
*.pem

# Databases
*.db

# Python cache
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Virtual environment
venv/
.venv/

# IDE
.vscode/
.idea/

client_secret_1009605814851-ktshjgooq2ohb1uch9jiffgrjo0u54pn.apps.googleusercontent.com.json
client_secret_1009605814851-vqv90n8e5j7jfgn9t0re71oubftrbq5m.apps.googleusercontent.com.json
react-elearning-e12a6-c869ba1c268d.json

